<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Registration</title>
    <link href="css/main.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/vex-theme-flat-attack.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/dobPicker.min.js"></script>
    <script type="text/javascript" src="js/vex.combined.min.js"></script>
    <script type="text/javascript" src="js/validator.js"></script>
</head>
<body class="registration">
    <div class="container">
        <img class="logo" src="img/canon-logo.jpg" />
        <form action="" id="playerCheckin">
            <div class="row">
                <div class="cell left"><span>First Name:</span></div>
                <div class="cell right"><input spellcheck="false" id="first-name" type="text" placeholder="John" data-validation="required" /></div>
            </div>
            <div class="row">
                <div class="cell left"><span>Last Name:</span></div>
                <div class="cell right"><input spellcheck="false" id="last-name" type="text" placeholder="Smith" data-validation="required" /></div>
            </div>
            <div class="row">
                <div class="cell left"><span>Email:</span></div>
                <div class="cell right"><input spellcheck="false" id="email" type="text" placeholder="info@example.com" data-validation="email" /></div>
            </div>
            <div class="row">
                <div class="cell left"><span>Date Of Birth:</span></div>
                <div class="cell right">
                    <select id="day-of-birth" data-validation="required"></select>
                    <select id="month-of-birth" data-validation="required"></select>
                    <select id="year-of-birth" data-validation="required"></select>
                </div>
            </div>
            <div class="row">
                <div class="cell left"><span>Mobile No:</span></div>
                <div class="cell right"><input spellcheck="false" type="text" id="mobile-number" data-validation="required" /></div>
            </div>
            <div class="row">
                <div class="cell left"><span>Gender:</span></div>
                <div class="cell right">
                    <select id="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="cell left"><span>Address:</span></div>
                <div class="cell right">
                    <select id="address">
                        <option value="Abu Dhabi">Abu Dhabi</option>
                        <option value="Ajman">Ajman</option>
                        <option value="Dubai">Dubai</option>
                        <option value="Fujairah">Fujairah</option>
                        <option value="Ras al-Khaimah">Ras al-Khaimah</option>
                        <option value="Sharjah">Sharjah</option>
                        <option value="Umm al-Quwain">Umm al-Quwain</option>
                    </select>
                </div>
            </div>
            <div class="row large">
                <div class="cell left"><span></span></div>
                <div class="cell right">
                    <input type="checkbox" name="checkboxG7" id="checkboxG7" class="css-checkbox" checked />
                    <label for="checkboxG7" class="css-label"></label>
                    <p>
                        Sign me up for Canon news, tutorials and offers such as:-
                        Hear from the experts, get the latest tips, and keep up to date through our Canon community email newsletter
                        Don't miss out on flash deals and special offers from our Canon online store via text
                        Invites to local events and inspiration from our Canon community by post

                    </p>
                </div>
            </div>
            <div class="row medium">
                <div class="cell left"><span></span></div>
                <div class="cell right">
                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" data-validation="required" />
                    <label for="checkboxG6" class="css-label"></label>
                    <p>
                        By clicking SUBMIT, you confirm you have read and accept 
                        <i id="terms">the Canon Consumer Privacy Policy</i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="cell left"><span></span></div>
                <div class="cell right">
                    <input type="submit" id="save-button" value="Join" />
                </div>
            </div>
        </form>
    </div>
    <div id="block-input">
        <p>Thanks for participating!. <br />Be fast! The race is about to start...</p>
        <p id="laterOn">A game is in progress, we can't add you at the moment.</p>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.dobPicker({
                // Selectopr IDs
                daySelector: '#day-of-birth',
                monthSelector: '#month-of-birth',
                yearSelector: '#year-of-birth',

                // Default option values
                dayDefault: 'Day',
                monthDefault: 'Month',
                yearDefault: 'Year',

                // Minimum age
                minimumAge: 8,

                // Maximum age
                maximumAge: 99
            });

            vex.defaultOptions.className = 'vex-theme-flat-attack';

            $("body").on("click", "i", function (e) {
                $.when($.get("terms.html")).done(function (result) {
                    vex.dialog.alert({ unsafeMessage: result });
                });


                return false;
            });

            /*$("body").dblclick(function (e) {
                windowsApp.showDevTools();
            });*/

            $(".large p").click(function () {
                var isChecked = $("#checkboxG7").prop("checked");
                $("#checkboxG7").prop("checked", !isChecked);
            });

            $(".medium p").click(function (e) {
                var isChecked = $("#checkboxG6").prop("checked");
                $("#checkboxG6").prop("checked", !isChecked);

            });

            $("body").on("click", "#save-button", function (e) {
                $.validate({
                    borderColorOnError: '#000',
                    validateOnBlur: false,
                    form: "#playerCheckin",
                    onSuccess: function ($form) {
                        var player = {
                            firstName: $("input#first-name").val(),
                            lastName: $("input#last-name").val(),
                            email: $("input#email").val(),
                            dateOfBirth: $("select#day-of-birth").val() + '/' + $("select#month-of-birth").val() + '/' + $("select#year-of-birth").val(),
                            mobileNumber: $("input#mobile-number").val(),
                            gender: $("select#gender").val(),
                            address: $("select#address").val()
                        };

                        var json = JSON.stringify(player);
                        var promise = windowsApp.registerPlayer(json);

                        promise.then(function (result) {
                            if (result == true) {
                                var text = "Thanks for joining in! Now head over to your bicycle and get ready";
                                vex.dialog.alert({ unsafeMessage: text });
                                setTimeout(function () {
                                    vex.closeAll();
                                }, 5000);

                                $("input#first-name").val("");
                                $("input#last-name").val("");
                                $("input#email").val("");
                                $("select#day-of-birth").val("");
                                $("select#month-of-birth").val("");
                                $("select#year-of-birth").val("");
                                $("input#mobile-number").val("");
                                $("input#checkboxG6").prop("checked", false);
                                $("select#gender").val("Male");
                                $("select#address").val("Abu Dhabi");
                            }
                        });

                        return false; // Will stop the submission of the form
                    },
                });
            });


        });
    </script>
</body>
</html>