<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Registration</title>
    <link href="css/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body class="registration-bg">
    asfsdghfhdh

    <script type="text/javascript">
        $(document).ready(function () {
            $("body").dblclick(function (e) {
                windowsApp.showDevTools();
            });
        });
    </script>
</body>
</html>