<div id="site-container" ui-view="" flex="noshrink" layout="column" class="ng-scope layout-column flex-noshrink" style="">
    <md-content class="core-container-default site-padding-l-r core-text-color-content-grey ng-scope" ng-init="newTermsCtrl.initPolicy('#priv-static'); newTermsCtrl.setLanguage();">
        <h1 class="core-text-header big-title-margins ng-binding">Privacy policy</h1>
        <div id="priv-static">
            <p>This Privacy Policy explains how we process the personal data that we collect from you when you use our websites, apps, platforms and services governed by this Privacy Policy (our "Services").</p>
            <h2>1. When this Privacy Policy applies</h2>
            <p>The following Services are subject to this Privacy Policy:</p>
            <ul>
                <li>Canon ID account</li>
                <li>Any service you can log into using your Canon ID account</li>
                <li>Any other Canon Services this Privacy Policy is attached to</li>
            </ul>
            <h2>2. Information we collect</h2>
            <p>We collect your personal data when you sign up and/or when use our Services:</p>
            <ul>
                <li>Upon signing up: you will be asked for several personal details that are necessary to create your account and offer you our Services. These fields are marked as compulsory. Additional personal details may voluntarily be provided by you, which will enable us to provide full-featured Services and a higher degree of customization.</li>
                <li>When you use our Services, either if you previously signed up for them or not: we will collect and process personal data regarding your use of such Services to improve your overall experience. You may limit the amount of information we collect by setting your privacy preferences in our Services, modifying the settings of your device or browser, or through the way you use our Services.</li>
            </ul>
            <h3>2.1 Personal Information</h3>
            <h4>2.1.1 Personal Details</h4>
            <p>This is information you give us which personally identifies you, such as your name, email address, telephone number, date of birth or home address. Your personal details will be processed for the following purposes:</p>
            <ul>
                <li>
                    To verify your identity and assist with the identification of users:
                    <ul>
                        <li>For example, your email address acts as your username to sign into your Canon ID account and access Canon Services.</li>
                        <li>Your mobile phone number provides one way in which we can verify your identity and make it easier for you to get back into your account if you ever forget your password.</li>
                    </ul>
                </li>
                <li>
                    To determine the appropriate Services for you:
                    <ul><li>We use your date of birth to determine your age and the Services available to you, as applicable.</li></ul>
                </li>
                <li>
                    To send important notices:
                    <ul>
                        <li>For example, we ask for your email address so that we can send you a confirmation of your orders.</li>
                        <li>We will also send you communications about purchases or changes to our terms, conditions, and policies.</li>
                    </ul>
                </li>
                <li>
                    To improve your user experience and the overall quality of our Services:
                    <ul><li>Knowing your basic personal details lets us personalize any communications we send to you.</li></ul>
                </li>
            </ul>
            <h4>2.1.2 Personal Relationships</h4>
            <p>This is personal and family relationship information that you may provide on a voluntary basis, processed for the following purpose:</p>
            <ul>
                <li>
                    To provide customers with more useful information, relevant content and offers, and latest news about products and events:
                    <ul><li>For example, in Services which provide family photo sharing function, we may send you an offer before your child's birthday to print a photo book of moments from the last year.</li></ul>
                </li>
                <li>
                    To improve your user experience and the overall quality of our Services:
                    <ul><li>For example, in Services which provide family photo sharing function, we may ask for your child's name or nickname to help you organize your pictures.</li></ul>
                </li>
            </ul>
            <h3>2.2 Information about your activities</h3>
            <h4>2.2.1 Browsing Behavior, Device Information and Interactions</h4>
            <p>This entails the tracking of your actions (repeated site visits, interactions, keywords, online content production, etc.) when you access and use our Services and the building of profiles over time. It also includes information about the devices and methods you use to interact with Canon Services and content.</p>
            <p>We combine behavioral information with your personal details, but we will not store any personal details related to fields left blank by you during your sign-up process. When your personal information is not necessary to achieve the purposes set out in this section, we will only process behavioral information on an aggregate basis.</p>
            <p>We capture information about your Operating System and Internet Browser when you visit a Canon website or use our Services, including information that is automatically logged when you use our Services (e.g. requested information, timestamp, IP address). Where required by applicable laws, prior to the storage or caching (temporary storage) of or access to data on your device, we will obtain your consent after providing you with clear and comprehensive information about the purposes of the processing of your personal data.</p>
            <p>We will process your behavioral, device and interactions information for the following purposes:</p>
            <ul>
                <li>
                    To provide, maintain, protect and improve products and Services, and to develop new ones:
                    <ul>
                        <li>For example, information about how you browse our websites or search for products can be used for data analysis and research, to deliver better user journeys, provide more relevant search results or structure the way the information is shown in our Services.</li>
                        <li>When you install a Canon mobile app, a unique application number along with information about your device is sent to Canon, making it easier for Canon to maintain its apps and Services and offer automatic updates.</li>
                    </ul>
                </li>
                <li>
                    To improve your user experience and the overall quality of our Services:
                    <ul>
                        <li>Your activity such as the pages you visit or the items you view teaches us what you find important and most interesting to you on our Services so that we can tailor your experience around what matters to you most and display personalized content.</li>
                        <li>Device and platform identifiers let us know which device you are using to access our Services in order to customize and optimize them to your device and improve your overall user experience (e.g., providing more relevant content and advertising on the device or browser you are using).</li>
                        <li>Storing data locally on your device allows us to improve things like website performance and loading of content even when you are offline.</li>
                    </ul>
                </li>
                <li>
                    To provide you with more useful information, more relevant content and offers, and latest news about products and events:
                    <ul>
                        <li>For example, following a link to a tutorial from a marketing email, or following Canon on Facebook or Twitter.</li>
                        <li>Understanding how and where you interact with Canon means we can provide you with more personalized and helpful information through your preferred communication channels.</li>
                    </ul>
                </li>
                <li>
                    To protect our users and Canon:
                    <ul>
                        <li>We can monitor unusual or suspicious activities on our Services, such as automated abuse, so that we can address it quickly and inform you about potentially fraudulent activities affecting your account.</li>
                        <li>We might also use your personal information for internal auditing, in order to comply with applicable legal requirements.</li>
                    </ul>
                </li>
            </ul>
            <h4>2.2.2 Product Details, Product Usage and Support History</h4>
            <p>This is information about your Canon products (such as product model, serial number and purchase date), of how you set up and use your Canon products (e.g. camera and lens settings) and our Services, as well as details on your Customer Service, Warranty and Repairs interactions with Canon.</p>
            <p>Some of the information under this category does not qualify as personal information, but we will apply any necessary safeguards to ensure as well the privacy of this information. We will process this data for the following purposes:</p>
            <ul>
                <li>
                    To provide you with more useful information, more relevant content and offers, and latest news about products and events:
                    <ul><li>For example, understanding the camera settings you like to use means we can provide you with more personalized and helpful information, such as expert hints and tips, learning resources, or details about relevant training courses.</li></ul>
                </li>
                <li>
                    To provide, maintain, protect and improve products and services, and to develop new ones:
                    <ul><li>Understanding how our customers use our products help us identify features that we need to improve or add to future products.</li></ul>
                </li>
                <li>
                    To help solve any issues you might have with Canon products and Services:
                    <ul>
                        <li>We require your product information so that we can troubleshoot your queries more effectively, providing you with information which is specific to your Canon product.</li>
                        <li>Understanding your Operating System (OS) allows us to troubleshoot your query more effectively, for example, by providing you with information about relevant driver downloads.</li>
                        <li>We will use this information to evaluate whether your Canon product is eligible for warranty coverage.</li>
                    </ul>
                </li>
            </ul>
            <h3>2.3 Files and other content</h3>
            <h4>2.3.1 Files</h4>
            <p>This category includes images that you upload to Canon Services, and their relevant descriptions and metadata. We hold no rights over the content you upload to our Services unless you expressly grant them to Canon, but you authorize us to use this information for the following purposes:</p>
            <ul>
                <li>
                    To improve your user experience and the overall quality of our services:
                    <ul>
                        <li>With computer vision and analysis of photo metadata, we can help you more easily organize and enjoy your collection of photos on our online photo storage services.</li>
                        <li>We do not conduct any human/manual processing of your content.</li>
                    </ul>
                </li>
                <li>
                    To provide customers with more useful information, more relevant content and offers, and latest news about products and events:
                    <ul><li>Understanding the type of photos you like to take means we can provide you with more personalized and helpful information, such as expert hints and tips, learning resources, or details about relevant training courses.</li></ul>
                </li>
            </ul>
            <h4>2.3.2 Community Chatter/Comments/Forum Posts</h4>
            <p>This section comprises any content submitted by you through Canon's online channels and forums, which is processed for the following purposes:</p>
            <ul>
                <li>
                    To help solve any issues you might have:
                    <ul><li>We scan through forum activity for keywords to identify users experiencing difficulties with our products and pro-actively support them.</li></ul>
                </li>
                <li>
                    To protect our users and Canon:
                    <ul>
                        <li>We moderate although we have no obligation to the items posted on Canon forums, in order to detect any inappropriate content.</li>
                        <li>We can monitor any unusual or suspicious activity on our Services to detect and avoid hijacking of your account.</li>
                    </ul>
                </li>
            </ul>
            <h3>2.4 Information we receive from third parties</h3>
            <p>When you use social login, we retrieve basic profile information from your chosen social identity provider for the following purposes:</p>
            <ul>
                <li>
                    To verify your identity and assist with the identification of users:
                    <ul><li>If you sign up to our services using a social media site, we receive basic profile information like your name, age range and country of residence.</li></ul>
                </li>
                <li>
                    To provide, maintain, protect and improve products and Services, and to develop new ones:
                    <ul><li>We may use social network identifiers if you are automatically syncing content from that site, such as adding photos to online photo storage services from Facebook.</li></ul>
                </li>
            </ul>
            <h3>2.5 Settings and Preferences</h3>
            <p>Certain Canon Services allow you to specify your personal preferences (e.g. preferred language). Users may also specify their privacy preferences with regards to things like receiving marketing communications.</p>
            <ul>
                <li>
                    We use this information to improve your user experience and the overall quality of our services:
                    <ul><li>Knowing your country and language allows us to display our Services in your local language, time zone and regional formats.</li></ul>
                </li>
            </ul>
            <h3>2.6 Location Information</h3>
            <p>We gather your location data, including real-time geographic location, where you have expressly authorized us in accordance with your privacy settings of your Canon ID accounts, installed apps, browsers and devices. We use Location Information for the following purposes:</p>
            <ul>
                <li>
                    To improve your user experience and the overall quality of our services:
                    <ul><li>We can use any geographic information contained within your photos to help you catalogue your images by location.</li></ul>
                </li>
                <li>
                    To provide you with more useful information, more relevant content and offers, and latest news about products and events:
                    <ul><li>We can serve you with content which is relevant to your current location.</li></ul>
                </li>
                <li>
                    To verify your identity and assist with the identification of users:
                    <ul>
                        <li>For example, Canon verifies your IP address in some territories during the sign-up process to ensure that you are willing to sign up for our Services and to mitigate the risks of identity theft.</li>
                        <li>We do not use your location information to track your private activity for purposes other than those set in this section.</li>
                        <li>We do not share location information with third parties other that Canon group companies nor sell it to anyone.</li>
                    </ul>
                </li>
            </ul>
            <h3>2.7 Purchase Information</h3>
            <p>This comprises information about goods and services you buy through Canon Services, for the following purposes:</p>
            <ul>
                <li>
                    To provide, maintain, protect and improve products and services, and to develop new ones:
                    <ul>
                        <li>We use your purchase information in order to complete and fulfill any orders you place through the Canon Services.</li>
                        <li>We customize our Services according to your purchase history.</li>
                    </ul>
                </li>
                <li>
                    To send important notices, such as communications about purchases or changes to our terms, conditions, and policies:
                    <ul><li>We use your purchase information to ensure we send you an accurate order confirmation email.</li></ul>
                </li>
            </ul>
            <h3>2.8 Payment Information</h3>
            <p>We will not process or store your bank or credit/debit card details used when purchasing goods and services through Canon Services. Payments for purchases will be completed through third-party payment platforms. Your banking details will not be shared with Canon.</p>
            <h3>2.9 Cookies and other technologies</h3>
            <p>Cookies and similar technologies (e.g. web beacons) are small pieces of information used to store technical and/or personal details, identify users of a service and enable certain functionalities. To learn more about the cookies used by our Services and how to reject them, please visit the Cookie Policy applicable to each of the Services, which can be accessed through the homepage of our websites or the relevant section of our apps.</p>
            <h2>3. How we share your information</h2>
            <p>Canon (defined in "Definition of Canon" at the bottom) is the data controller, that is, the entity determining the purposes and means of the processing of the personal data collected from you.</p>
            <p>The personal data processed when you use our Services will not be transferred without your prior explicit consent, to other individuals or businesses, for their own use, other than Canon group companies. Some vendors or other entities with whom we have a business relationship to provide products, services including Canon group companies will however have access to and process your personal information, but only on behalf of Canon and only to supply services to Canon related to the purposes set in this Privacy Policy.</p>
            <p>Your personal data are transferred by and between Canon and other Canon group companies for the same purposes set out in this Privacy Policy.</p>
            <p>Canon is committed to protecting your privacy. Your personal data is held on secure servers and is not processed for any purposes other than those set out in this Privacy Policy. The servers Canon uses to store this information are accessible to authorized staff only and Canon ensures that adequate security measures are in place.</p>
            <h2>4. Intended Age</h2>
            <p>Our Services are only available to those who are the age of majority in the jurisdiction in which they reside. Access and use of our Services by anyone under the age of majority is only permitted with the express permission of a parent or legal guardian.</p>
            <h2>5. Marketing communications</h2>
            <p>If you provided your consent when signing up to our Services, or at a later stage, Canon and/or other Canon group companies will use your personal information for marketing purposes and to inform you about other products and services, which Canon thinks might be of interest for you. You can specify whether you wish to receive such information by ticking the appropriate box in your registration form. You will be able to opt out from receiving such information at any time by editing your emailing preferences of your account or by unsubscribing using a link provided in all applicable communications.</p>
            <h2>6. How to exercise your rights</h2>
            <p>You have the right to access, correct, update or delete your data as well as any other right applicable in your jurisdiction by accessing your Canon ID accounts, clicking on the link provided in our communication emails, or accessing the relevant section of the Canon websites or apps.</p>
            <p>In order to delete your data, you need to sign into the Canon ID website on <a href="https://myid.canon/" target="_blank">myid.canon</a> and delete your account. Note that after the deletion of your personal data, it cannot be recovered and any data and content stored on the Services will also be permanently deleted. We will also delete your personal data once it is no longer necessary for the purposes for which it was originally collected.</p>
            <p>Canon will need to hold your personal information locked where required by applicable laws and during the relevant statutes of limitations, even if you ask for its deletion. This term should typically not exceed 5 years in most jurisdictions. Canon will not delete your personal data where it refers to an active relationship or a product or service explicitly requested by you (e.g. a recent purchase made at a Canon Services).</p>
            <h2>7. Your commitments</h2>
            <p>By signing in to any of our services and accepting this Privacy Policy, you confirm that you are above the age applicable in your jurisdiction for engaging in contracts. You also confirm that you have previously gathered any necessary parental/guardian consent required in your country of residence, where applicable. We will contact you at any time in order to check the above and reserve the right to suspend or delete your Canon ID accounts in case you cannot prove this.</p>
            <p>You guarantee the quality of the information provided in our Services. All personal data you send to Canon must be real, accurate and kept up to date. You take full responsibility that your information is accurate, updated and that it complies with this principle. You also guarantee that you have gathered the explicit consent from anyone holding any personal image, intellectual property or other rights over your content, authorizing you to upload and store it in our Services.</p>
            <p>By signing up for any of our Services, registering a Canon ID account, ticking the appropriate box or clicking the appropriate button when you access any Canon Services, even if they require no registration but through which your personal information is collected –, you authorize Canon and other Canon group companies to use such data for the purposes described in the registration and in this Privacy Policy. You expressly agree to the processing of your personal data in the terms set in this Privacy Policy and its transfer to the Canon group companies specified in section 3.</p>
            <h2>8. Changes to this Privacy Policy</h2>
            <p>We will update our Privacy Policy from time to time to ensure you are promptly informed of Canon's data processing activities. We will not engage in any processing operations that might put in risk your personal information, and will gather your explicit consent where necessary to safeguard your right to privacy. We will keep you updated on any changes to this Privacy Policy through the Services. We will also use any of the communication methods provided by you to inform you on important changes to this Privacy Policy. If you continue using our Services after having been unequivocally informed on the updated Privacy Policy, you agree to be bound by the updated terms.</p>
            <h2>9. Contacting Canon</h2>
            <p>Please contact Canon with any questions or comments about this Privacy Policy from following Canon global website: </p>
            <p><a href="http://www.canon.com/support" target="_blank">www.canon.com/support</a></p>
            <p>Also, you can contact Canon Inc.'s marketing affiliates specified below according to your place of residence:</p>
            <h2>[Definition of Canon]</h2>
            <p>In the Privacy Policy, "Canon" shall mean Canon Inc. and "Canon Inc.'s marketing affiliates" specified below providing services in your country or region.</p>
            <p>a. If You are resident in Japan, "Canon Inc's marketing affiliates" shall mean Canon Marketing Japan Inc., located at CANON S TOWER 16-6, Konan 2-chome, Minato-ku, Tokyo 108-8011, Japan (Contact address: <a href="http://cweb.canon.jp/e-support/rc/tel/cig.html" target="_blank">cweb.canon.jp/e-support/rc/tel/cig.html</a>);</p>
            <p>b. If You are resident in the Europe, Middle East or Africa, "Canon Inc's marketing affiliates" shall mean Canon Europa N.V., located at Bovenkerkerweg 59, 1185 XB Amstelveen, The Netherlands (Company Registration Number: 33166721; VAT Registration Number: NL005916343B01, Contact address: <a href="http://www.canon-europe.com" target="_blank">www.canon-europe.com</a> );</p>
            <p>c. If You are resident in the United States or Latin America, "Canon Inc's marketing affiliates" shall mean Canon U.S.A., Inc., located at One Canon Park, Melville, NY 11747, U.S.A. (Contact address: <a href="http://www.usa.canon.com" target="_blank">www.usa.canon.com</a>);</p>
            <p>d. If You are resident in Canada, "Canon Inc's marketing affiliates" shall mean Canon Canada Inc., located at 8000 Mississauga Road, Brampton, Ontario L6Y 5Z7, Canada (Contact address: <a href="http://www.canon.ca" target="_blank">www.canon.ca</a>);</p>
            <p>e. If You are resident in Singapore, Vietnam, Malaysia, Thailand, Indonesia Cambodia, Bangladesh, Myanmar, Brunei, Nepal, Pakistan, Sri Lanka or Maldives, "Canon Inc's marketing affiliates" shall mean Canon Singapore Pte. Ltd., located at 1 Fusionopolis Place #15-10 Galaxis, Singapore 138522 (Contact address: <a href="mailto:dpo@canon.com.sg">dpo@canon.com.sg</a> );</p>
            <p>f. If You are resident in Hong Kong, Macau, Taiwan, the Philippines or Mongolia, "Canon Inc's marketing affiliates" shall mean Canon Hongkong Co., Ltd., located at 19/F., The Metropolis Tower, 10 Metropolis Drive, Hunghom, Kowloon, Hong Kong (Contact address: <a href="http://www.canon.com.hk" target="_blank">www.canon.com.hk</a>);</p>
            <p>g. If You are resident in Republic of Korea, "Canon Inc's marketing affiliates" shall mean Canon Korea Consumer Imaging Inc., located at 607, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea (Contact address: <a href="http://www.canon-ci.co.kr" target="_blank">www.canon-ci.co.kr</a>) and Canon Korea Business Solutions Inc., located at BS Tower, 607 Teheran-ro, Gangnam-gu, Seoul, Republic of Korea (Contact address: <a href="http://www.canon-bs.co.kr" target="_blank">www.canon-bs.co.kr</a>);</p>
            <p>h. If You are resident in Australia, New Zealand or other country or region in Oceania, "Canon Inc's marketing affiliates" shall mean Canon Australia Pty. Ltd., located at Building A, The Park Estate, 5 Talavera Road Macquarie Park NSW 2113, Australia (Contact address: <a href="mailto:privacyofficer@canon.com.au">privacyofficer@canon.com.au</a>); and</p>
            <p>i. If You are resident in India, "Canon Inc's marketing affiliates" shall mean Canon India Pvt. Ltd., located at 7th Floor, Tower B, Building #5, DLF Cyber Terraces, DLF Phase III Gurgaon-122002, Haryana, India, (Contact address: <a href="http://www.canon.co.in" target="_blank">www.canon.co.in</a>).</p>
            <p>&nbsp;</p><p>Last modified: 2016-09-12</p>
            <p>Version: 1.0.1</p>
        </div>
    </md-content>
</div>